
<div class="center page-tools">
     <span>
     {{#refresh}}
         <a href="/tx/{{tx_hash}}">Autorefresh is ON (10 s)</a>
     {{/refresh}}
     {{^refresh}}
        <a href="/tx/{{tx_hash}}/autorefresh">Autorefresh is OFF</a>
     {{/refresh}}
     </span>
</div>

<div>

    {{#has_error}}
        <section class="center explorer-panel" role="alert"><h1>Transaction unavailable</h1>
        {{#error_tx_not_found}}
            <p>Transaction <code>{{tx_hash}}</code> was not found.</p>
            <div>
                <p> If this is newly made tx, it can take some time (up to minute)
                    for it to get propagated to all nodes' txpools.
                    <br/><br/>
                    Please refresh in 10-20 seconds to check if its here then.
                </p>
            </div>
        {{/error_tx_not_found}}
        </section>
    {{/has_error}}
    {{^has_error}}
        {{#txs}}
            {{>tx_details}}
        {{/txs}}
    {{/has_error}}
</div>
