UBUNTU_IMAGE=ubuntu:22.04@sha256:79676deb51ebb02885b0b9d33788e78a37cf1045ad79d1bb04c6a222c3556b3d
QWC_COMMIT=82cf8703c895663cbe69347188448b5f00f7a0e8
EXPLORER_SOURCE_SHA=replace-with-full-40-character-explorer-commit
EXPLORER_SOURCE_DATE=replace-with-build-date
EXPLORER_SOURCE_BRANCH=replace-with-reviewed-branch
NPROC=2
