QWC_EXPLORER_IMAGE=sha256:REPLACE_WITH_64_HEX_IMAGE_ID
QWC_DAEMON_URL=http://qwertycoin-mainnet:8198
QWC_CHAIN_VOLUME=REPLACE_WITH_VERIFIED_EXISTING_VOLUME
QWC_DOCKER_NETWORK=REPLACE_WITH_VERIFIED_EXISTING_NETWORK
QWC_EXPLORER_UID=REPLACE_WITH_VERIFIED_UID
QWC_EXPLORER_GID=REPLACE_WITH_VERIFIED_GID
